<!DOCTYPE html>
<html lang="pt-BR">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Trensurb Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='Font-Awesome-4.7.0/css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.awesome-markers.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">

    
   <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>

    <script src="{{ url_for('static', filename='leaflet.awesome-markers.js') }}"></script>
</head>
<body> 
    <div id="map"></div>
  
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
